table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-spacing: unset;
    box-sizing: content-box;
    border-color: unset;
    border-collapse: separate;
}

td, th {
    padding: 8px;
}
.resizer {
    padding: 0;
    width: 5px;
    border-left: none;
}

.resizer-head {
    background-color: #28712b;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
